{% load static %}
<html lang="es" xmlns="http://www.w3.org/1999/html">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- link rel="shortcut icon" href="{% static 'web/favicon.ico' %}" -->
		<title>{% block title %}{% endblock %}</title>
		<!-- Bootstrap CSS -->
		<link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
{#		<link href="{% static 'vendors/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">#}
		<!-- Bootstrap Select CSS -->
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/css/bootstrap-select.min.css">
{#		<link href="{% static 'vendors/bootstrap-select/css/bootstrap-select.min.css' %}" rel="stylesheet">#}
		<!-- Roboto Font -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<!-- Personal CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'resources/css/style.css' %}" />
		<!-- jQuery -->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
{#		<script src="{% static 'vendors/jquery/js/jquery-3.1.1.min.js' %}"></script>#}
		<!-- Bootstrap JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" defer></script>
{#		<script src="{% static 'vendors/bootstrap/js/bootstrap.min.js' %}"></script>#}
		<!-- Boostrap Select JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/bootstrap-select.min.js" defer></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.12.1/js/i18n/defaults-es_CL.min.js" defer></script>
{#		<script src="{% static 'vendors/bootstrap-select/js/bootstrap-select.min.js' %}" defer></script>#}
{#		<script src="{% static 'vendors/bootstrap-select/js/i18n/defaults-es_CL.min.js' %}" defer></script>#}

		{% block extra_assets %}
			<!-- assets -->	
		{% endblock %}
		
	</head>
	
	<body style="padding-top: 70px;">
		{% block header %}
		{% include "base/header.html" %}
		{% endblock %}
		{% block content %}
			<!-- content -->				
		{% endblock %}
		{% include "base/footer.html" %}
		{% block scripts %}
			<!-- script -->
		{% endblock %}
		
	</body>
</html>