{% load staticfiles %}
<html lang="es">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<!-- link rel="shortcut icon" href="{% static 'web/favicon.ico' %}" -->
		<title>{% block title %}{% endblock %}</title>
		<!-- Bootstrap CSS -->
		<link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
		<!-- Bootstrap DateTimePicker CSS -->
		<link href="{% static 'css/bootstrap-datetimepicker.min.css' %}" rel="stylesheet">
		<!-- Roboto Font -->
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
		<!-- Personal CSS -->
		<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
		<!-- jQuery -->
		<script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
		<!-- Moment -->
		<script src="{% static 'js/moment.min.js' %}"></script>
		<script src="{% static 'js/moment_locale_es.js' %}"></script>
		<!-- Bootstrap JavaScript -->
		<script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
		<!-- Boostrap DateTimePicker JS -->
		<script src="{% static 'js/bootstrap-datetimepicker.min.js' %}"></script>
		
		{% block extra_assets %}
			<!-- assets -->	
		{% endblock %}
		
	</head>
	
	<body style="padding-top: 70px;">
		{% block header %}
		{% include "base/header.html" %}
		{% endblock %}
		{% block content %}
			<!-- content -->				
		{% endblock %}
		{% include "base/footer.html" %}
		{% block scripts %}
			<!-- script -->
		{% endblock %}
		
	</body>
</html>