{% extends "tpl/base.html" %}

{% block titles %} Camaleón {% endblock %}

{% block content %}

	<div class="container">	
		<div class="row">
			<div class="table-responsive">
				<table class="table">
					<tr>
						<th>Préstamo</th>
						<th>Cliente</th>
						<th>Fecha Préstamo</th>
						<th>Fecha Devolución</th>
						<th>Implementos</th>
						<th></th>
						<th></th>
					</tr>
				</table>
			</div>
			<ol class="breadcrumb">
				<li><a href="{% url 'transport:index' %}">Arriendos</a></li> 
				{% if travels.has_previous %}
				<li><a href="?page={{ travels.previous_page_number }}">Anterior</a></li>
				{% endif %}
				<li class="active">{{ travels.number }} - {{ travels.paginator.num_pages }}</li>
				{% if travels.has_next %}
				<li><a href="?page={{ travels.next_page_number }}">Siguiente</a></li>
				{% endif %}
			</ol>
		</div>
	</div>
	
{% endblock %}

{% block scripts %}

{% block aditional_scripts %}
{% endblock %}

{% endblock %}