body {
	font-family: "Roboto" !important;
}

table {
	font-size: 100%;
}

.pagination>li>a{
	height: 34px;
}

#filter-navbar-collapse {
	padding-top: 10px;
}

tr.doubleline {
	border-top: double grey;
}