{% extends "transport/index.html" %}

{%block search_nav_extra%}
<div class="row" style="margin-bottom:10px">
	<div class="col-md-12 text-right">
		<a href="{% url 'transport:index' %}" class="btn btn-danger" role="button">
			Anular Filtro
		</a>
	</div>
</div>
{% endblock %}

{%block nav_extra%}
{% if request.GET.group|add:0 > 0 %}
<nav class="navbar navbar-default">
	<div class="container">
		<div class="navbar-header">
			<span class="navbar-brand">Grupo {{current_group}}</span>
		</div>
		<ul class="nav navbar-nav navbar-right">
			<li><a href="#" type="button" data-toggle="modal" data-target="#groupModal" role="button"><span class="glyphicon glyphicon-info-sign"></span> <strong>Detalles</strong></a></li>
		</ul>
	</div>
	{% include "transport/group_modal.html" %}
</nav>
{% endif %}
{% endblock %}

{% block aditional_scripts %}
{% if request.GET.group|add:0 > 0 %}
<script>
	$(function(){
			$('#groupFormSubmit').click(function(event){
			  event.preventDefault();
				$.ajax({
					url: "{% url 'transport:group_save' current_group.id %}",
					type: "POST",
					data: $('#groupForm').serialize(),
					success: function(data){
						location.reload();
					}
				});
				$('#groupModal').modal('hide');
			});
		});
</script>
{% endif %}
{% endblock %}