<!-- Modal -->
<div id="groupModal" class="modal fade" role="dialog">
	<div class="modal-dialog">
	<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Detalles Grupo {{current_group}}</h4>
			</div>
			<div class="modal-body">
				<form id="groupForm" action="{% url 'transport:group_save' current_group.pk %}" method="post">
				{% csrf_token %}
					<div class="form group">
						<label for="idInput">ID</label>
						<input class="form-control" id="idInput" name="id_string" type="text" value="{{current_group.id_string}}">
					</div>
					<div class="form group">
						<label for="externalIdInput">ID Externo</label>
						<input class="form-control" id="externalIdInput" name="external_id" type="text" value="{{current_group.external_id}}">
					</div>
					<div class="form group">
						<label for="companySelect">Empresa</label>
						<select class="form-control selectpicker" id="companySelect" name="company" data-size="10" data-live-search="true">
						{% for company in companies %}
							<option value={{ company.pk }} {% if current_group.company == company %}selected{% endif %}>{{ company }}</option>
						{% endfor %}
						</select>
					</div>
					<div class="form group">
						<label for="costInput">Costo</label>
						<input class="form-control" id="costInput" name="charge" type="text" value="{{current_group.charge}}">
					</div>
					<div class="form group">
						<label for="debtInput">Deuda</label>
						<input class="form-control" id="debtInput" name="debt" type="text" value="{{current_group.debt}}">
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" value="submit" id="groupFormSubmit"><i class="glyphicon glyphicon-save"></i> Guardar</button>
				<button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
			</div>
		</div>
	</div>
</div>