{% extends "tpl/base.html" %}

{% block titles %} Darwin Transportes {% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			{% block search_nav %}
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#filter-navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<span class="navbar-brand">Filtrar</span>
					</div>
					<div id="filter-navbar-collapse" class="navbar-collapse collapse">
						<form class="form-inline" action="{% url 'transport:filter'%}" method="GET" role="search">
							<div class="form-inline">
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon"><strong>G</strong></div>
										<select class="form-control" id="selectGroup" name="group">
											<option value=0>TODOS</option>
										{% for group in groups %}
											<option value={{ group.pk }}>{{ group }}</option>
										{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon"><strong>C</strong></div>
										<select class="form-control" id="selectDriver" name="driver">
											<option value=0>TODOS</option>
										{% for driver in drivers %}
											<option value={{ driver.pk }}>{{ driver }}</option>
										{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<div class="input-group">
										<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"/></div>
										<input type="date" class="form-control" id="inputDateFrom" name="date_from">
										<div class="input-group-addon">-</div>
										<input type="date" class="form-control" id="inputDateTo" name="date_to">
									</div>
								</div>

								<button type="submit" class="btn btn-default navbar-btn">
									Filtrar
								</button>
							</div>
						</form>
					</div>
				</div>
			</nav>
			{% endblock %}
		</div>
		<div class="row">
			<p class="text-right">
				<a href="#" data-toggle="modal" data-target="#travelModal0">
					<button class="btn btn-default"><span class="glyphicon glyphicon-plus"/> Nuevo</button>
				</a>
				<a target="_blank" href="{% url 'transport:travel_pdf' %}?{{request.GET.urlencode}}">
					<button class="btn btn-default"><span class="glyphicon glyphicon-print"/> Imprimir</button>
				</a>
			</p>
			{% include "transport/travel_modal_new.html" %}
		</div>
		<div class="row">
			<div class="table-responsive">
				<table class="table">
					<tr>
						<th>Viaje</th>
						<th>Grupo</th>
						<th>Bus</th>
						<th>Conductor</th>
						<th>Empresa</th>
						<th>Tramo</th>
						<th>PAX</th>
						<th>Fecha</th>
						<th>Hora</th>
						<th></th>
						<th></th>
					</tr>
					{% for travel in travels %}
					<tr {% ifchanged travel.date %}style="border-top: thick double grey;"{% endifchanged %}>
						<td>{{ travel.pk|stringformat:"04d" }}</td>
						<td><a href="{% url 'transport:filter' %}?group={{travel.group.pk}}">{{ travel.group }}</a>{% if travel.group.debt|add:0 > 0 %} <span style="color:red; font-weight: bold;">(D)</span>{% endif %}</td>
						<td>{% if travel.bus %}{{ travel.bus }}{% else %}-----{% endif %}</td>
						<td>{% if travel.driver %}<a href="{% url 'transport:filter' %}?driver={{travel.driver.pk}}">{{ travel.driver }}</a>{% else %}-----{% endif %}</td>
						<td>{% if travel.bus %}{{ travel.bus.company }}{% else %}-----{% endif %}</td>
						<td>{{ travel.itinerary.stretch }}</td>
						<td>{{ travel.itinerary.app_people }}+{{travel.itinerary.guides}}</td>
						<td>{{ travel.date }}</td>
						<td>{% if travel.time %}{{ travel.time }}{% else %}--:--{% endif %}</td>
						<td>{% if travel.notes %}<span class="glyphicon glyphicon glyphicon-info-sign">{% endif %}</td>
						<td style="text-align:center"><a href="#" type="button" data-toggle="modal" data-target="#travelModal{{travel.pk}}" role="button"><span class="glyphicon glyphicon glyphicon-edit"></a></td>
						{% include "transport/travel_modal.html" %}
					</tr>
					{% endfor %}
				</table>
			</div>
			<ul class="pagination">
				<li {% if not travels.has_previous %}class="disabled"{%endif%}>
					<a {%if travels.has_previous%}href="?page={{travels.previous_page_number}}"{%endif%}>
						<span aria-hidden="true">&laquo;</span>
					</a>
				</li>
				{% load filters_extra %}
				{% for i in travels.paginator.num_pages|times %}
				<li {%if travels.number == i %}class="active"{%endif%}><a href="?page={{i}}">{{i}}</a></li>
				{% endfor %}
				<li {% if not travels.has_next %}class="disabled"{%endif%}>
					<a {%if travels.has_next%}href="?page={{travels.next_page_number}}"{%endif%}>
						<span aria-hidden="true">&raquo;</span>
					</a>
				</li>
			</ul>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script>
		$(function(){
			$('#travelForm0Submit').click(function(event){
			  event.preventDefault();
				$.ajax({
					url: "{% url 'transport:travel_new' %}",
					type: "POST",
					data: $('#travelForm0').serialize(),
					success: function(data){
						location.reload();
					}
				});
				$('#travelModal0').modal('hide');
			});
			$('#datetimePicker0').datetimepicker({
				locale: 'es'
			});
			{% for travel in travels %}
			$('#travelForm{{ travel.id }}Submit').click(function(event){
			  event.preventDefault();
				$.ajax({
					url: "{% url 'transport:travel_save' travel.id %}",
					type: "POST",
					data: $('#travelForm{{ travel.id }}').serialize(),
					success: function(data){
						location.reload();
					}
				});
				$('#travelModal{{ travel.id }}').modal('hide');
			});
			$('#datetimePicker{{travel.id}}').datetimepicker({
				locale: 'es'
			});
			{% endfor %}
		});
	</script>

{% block aditional_scripts %}
{% endblock %}
{% endblock %}