{% extends "base/base.html" %}

{% block titles %} Darwin Transportes {% endblock %}

{% block content %}

	<div class="container">
		<div class="row">
			{% block search_nav %}
			<nav class="navbar navbar-default">
				<div class="container">
					<div class="navbar-header">
						<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#filter-navbar-collapse">
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
							<span class="icon-bar"></span>
						</button>
						<span class="navbar-brand">Filtro</span>
					</div>
					<div id="filter-navbar-collapse" class="navbar-collapse collapse" style="padding-top:10px">
						<form class="form-inline" action="{% url 'transport:filter'%}" method="GET" role="search">
							<div class="form-inline">
								<div class="form-group col-md-2" style="padding-left:0px; padding-right:5px">
									<div class="input-group">
										<div class="input-group-addon"><span class="glyphicon">Grupo</span></div>
										<select class="form-control" id="selectGroup" name="group">
											<option value=0>TODOS</option>
										{% for group in groups %}
											<option value={{ group.pk }} {% if request.GET.group|add:0 == group.pk %}selected{% endif %}>{{ group }}</option>
										{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group col-md-3" style="padding-left:0px; padding-right:5px">
									<div class="input-group">
										<div class="input-group-addon"><span class="glyphicon">Empresa (Transporte)</span></div>
										<select class="form-control" id="selectBusCompany" name="buscompany">
											<option value=0>TODAS</option>
										{% for buscompany in buscompanies %}
											<option value={{ buscompany.pk }} {% if request.GET.buscompany|add:0 == buscompany.pk %}selected{% endif %}>{{ buscompany }}</option>
										{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group col-md-3" style="padding-left:0px; padding-right:5px">
									<div class="input-group">
										<div class="input-group-addon"><span class="glyphicon">Empresa (Turismo)</span></div>
										<select class="form-control" id="selectCompany" name="company">
											<option value=0>TODAS</option>
										{% for company in companies %}
											<option value={{ company.pk }} {% if request.GET.company|add:0 == company.pk %}selected{% endif %}>{{ company }}</option>
										{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group col-md-2" style="padding-left:0px; padding-right:5px">
									<div class="input-group">
										<div class="input-group-addon"><span class="glyphicon">Chofer</span></div>
										<select class="form-control" id="selectDriver" name="driver">
											<option value=0>TODOS</option>
										{% for driver in drivers %}
											<option value={{ driver.pk }} {% if request.GET.driver|add:0 == driver.pk %}selected{% endif %}>{{ driver }}</option>
										{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group col-md-10" style="padding-left:0px; padding-right:5px; padding-top:8px">
									<div class="input-group">
										{% block dategroup %}
										<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"/></div>
										<input type="date" class="form-control" id="inputDateFrom" name="date_from" value={% now 'Y-m-d'%}>
										<div class="input-group-addon"><span class="glyphicon">-</span></div>
										<input type="date" class="form-control" id="inputDateTo" name="date_to">
										{% endblock %}
									</div>
								</div>
								<div class="col-md-1 text-right" style="margin:0px; padding-left:97px">
									<button type="submit" class="btn btn-default navbar-btn">
										Filtrar
									</button>
								</div>
							</div>
						</form>
					</div>
					{% block search_nav_extra %}
					{% endblock %}
				</div>
			</nav>
			{% block nav_extra %}
			{% endblock %}
			{% endblock %}
		</div>
		<div class="row">
			<p class="text-right">
				<a href="#" data-toggle="modal" data-target="#travelModal0">
					<button class="btn btn-default"><span class="glyphicon glyphicon-plus"/> Nuevo</button>
				</a>
				{% block btn_print %}
				<a target="_blank" href="{% url 'transport:travel_pdf' %}?date_from={% now 'Y-m-d' %}">
					<button class="btn btn-default"><span class="glyphicon glyphicon-print"/> Imprimir</button>
				</a>
				{% endblock %}
			</p>
			{% include "transport/travel_modal_new.html" %}
		</div>
		<div class="row">
			<div class="table-responsive">
				<table class="table">
					<tr>
						<th>Viaje</th>
						<th>Grupo</th>
						<th>Bus</th>
						<th>Chofer</th>
						<th>Empresa</th>
						<th>Tramo</th>
						<th>PAX</th>
						<th>Fecha</th>
						<th>Hora</th>
						<th></th>
						<th></th>
					</tr>
					{% for travel in travels %}
					<tr {% ifchanged travel.date %}style="border-top: double grey;"{% endifchanged %}>
						<td>{{ travel.pk|stringformat:"04d" }}</td>
						<td><a href="{% url 'transport:filter' %}?group={{travel.group.pk}}&date_from={% now "Y-m-d" %}">{{ travel.group }}</a>{% if travel.group.debt|add:0 > 0 %} <span style="color:red; font-weight: bold;">(D)</span>{% endif %}</td>
						<td>{% if travel.bus %}{{ travel.bus }}{% else %}-----{% endif %}</td>
						<td>{% if travel.driver %}<a href="{% url 'transport:filter' %}?driver={{travel.driver.pk}}&date_from={% now "Y-m-d" %}">{{ travel.driver }}</a>{% else %}-----{% endif %}</td>
						<td>{% if travel.bus %}<a href="{% url 'transport:filter' %}?buscompany={{travel.bus.company.pk}}&date_from={% now "Y-m-d" %}">{{ travel.bus.company }}</a>{% else %}-----{% endif %}</td>
						<td>{{ travel.itinerary.stretch }}</td>
						<td>{{ travel.itinerary.app_people }}+{{travel.itinerary.guides}}</td>
						<td>{{ travel.date }}</td>
						<td>{% if travel.time %}{{ travel.time }}{% else %}--:--{% endif %}</td>
						<td>{% if travel.notes %}<span class="glyphicon glyphicon glyphicon-info-sign">{% endif %}</td>
						<td style="text-align:center"><a href="#" type="button" data-toggle="modal" data-target="#travelModal{{travel.pk}}" role="button"><span class="glyphicon glyphicon glyphicon-edit"></a></td>
						{% include "transport/travel_modal.html" %}
					</tr>
					{% endfor %}
				</table>
			</div>
			<ul class="pagination">
				{% load filters_extra %}
				<li {% if not travels.has_previous %}class="disabled"{%endif%}>
					<a {%if travels.has_previous%}href="?{% url_replace 'page' travels.previous_page_number %}"{%endif%}>
						<span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>
					</a>
				</li>
				{% for i in travels.paginator.num_pages|pages:travels.number %}
				<li {%if travels.number == i %}class="active"{%endif%}><a href="?{% url_replace 'page' i %}">{{i}}</a></li>
				{% endfor %}
				<li {% if not travels.has_next %}class="disabled"{%endif%}>
					<a {%if travels.has_next%}href="?{% url_replace 'page' travels.next_page_number %}"{%endif%}>
						<span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span>
					</a>
				</li>
			</ul>
		</div>
	</div>

{% endblock %}

{% block scripts %}
	<script>
		$(function(){
			$('#travelForm0Submit').click(function(event){
			  event.preventDefault();
				$.ajax({
					url: "{% url 'transport:travel_new' %}",
					type: "POST",
					data: $('#travelForm0').serialize(),
					success: function(data){
						location.reload();
					}
				});
				$('#travelModal0').modal('hide');
			});
			$('#datetimePicker0').datetimepicker({
				locale: 'es'
			});
			{% for travel in travels %}
			$('#travelForm{{ travel.id }}Submit').click(function(event){
			  event.preventDefault();
				$.ajax({
					url: "{% url 'transport:travel_save' travel.id %}",
					type: "POST",
					data: $('#travelForm{{ travel.id }}').serialize(),
					success: function(data){
						location.reload();
					}
				});
				$('#travelModal{{ travel.id }}').modal('hide');
			});
			$('#datetimePicker{{travel.id}}').datetimepicker({
				locale: 'es'
			});
			{% endfor %}
		});
	</script>

{% block aditional_scripts %}
{% endblock %}
{% endblock %}