<!-- Modal -->
<div id="travelModal0" class="modal fade" role="dialog">
	<div class="modal-dialog">
	<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h4 class="modal-title">Nuevo Viaje</h4>
			</div>
			<div class="modal-body">
				<form id="travelForm0" action="{% url 'transport:travel_new' %}" method="post">
				{% csrf_token %}
					<div class="form-group">
						<label for="selectGroup">Grupo</label>
						<select class="form-control selectpicker" id="selectGroup" name="group" data-size="15" data-live-search="true">
							{% for group in groups %}
							<option value={{ group.pk }}>{{ group }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label for="selectBus">Bus</label>
						<select class="form-control selectpicker" id="selectBus" name="bus" data-size="15" data-live-search="true">
							<option value=0>-----</option>
							{% for bus in busses %}
							<option value={{ bus.pk }}>{{ bus }} ({{ bus.company }})</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label for="selectDriver">Conductor</label>
						<select class="form-control selectpicker" id="selectDriver" name="driver" data-size="15" data-live-search="true">
							<option value=0>-----</option>
							{% for driver in drivers %}
							<option value={{ driver.pk }}>{{ driver }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label for="selectItinerary">Itinerario</label>
						<select class="form-control selectpicker" id="selectItinerary" name="itinerary" data-size="15" data-live-search="true">
							{% for itinerary in itineraries %}
							<option value={{ itinerary.pk }}>{{ itinerary }}</option>
							{% endfor %}
						</select>
					</div>
					<div class="form-group">
						<label for="datetimePicker">Fecha/Hora</label>
						<div class='input-group' id="datetimePicker">
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
							<input type='date' class="form-control" name="date" value="" placeholder="dd/mm/aaaa"/>
							<span class="input-group-addon">
								<span class="glyphicon glyphicon-time"></span>
							</span>
							<input type='time' class="form-control" name="time" value="" placeholder="hh:mm"/>
						</div>
					</div>
					<div class="form-group">
						<label for="areaNotes">Notas</label>
						<textarea class="form-control" id="areaNotes" name="notes"></textarea>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="submit" class="btn btn-primary" value="submit" id="travelForm0Submit"><i class="glyphicon glyphicon-save"></i> Registrar Viaje</button>
				<button type="button" class="btn btn-default" data-dismiss="modal"><i class="glyphicon glyphicon-remove"></i> Cancelar</button>
			</div>
		</div>
	</div>
</div>